CHROME_EXTENSION_ID=habonpimjphpdnmcfkaockjnffodikoj
CHROME_CLIENT_ID=
CHROME_CLIENT_SECRET=
CHROME_REFRESH_TOKEN=

FIREFOX_EXTENSION_ID=archivebox@tjhorner.dev
FIREFOX_JWT_ISSUER=
FIREFOX_JWT_SECRET=
